/* slider */
:host >>> .ngx-slider {
    display: flex !important;
    height: 50px !important;
    margin: unset !important;
    vertical-align: unset !important;
    align-items: center !important;
}

/* bar */
:host >>> .ngx-slider .ngx-slider-bar-wrapper {
    margin-top: unset !important;
    padding-top: unset !important;
    height: unset !important;
}

/* tick */
:host >>> .ngx-slider .ngx-slider-ticks {
    top: unset !important;
}

/* pointer */
:host >>> .ngx-slider .ngx-slider-pointer:after {
    display: none !important;
}

/* bubble */
:host >>> .ngx-slider .ngx-slider-bubble {
    display: none !important;
}

/* tick value */
:host >>> .ngx-slider .ngx-slider-tick-value {
    top: unset !important
}