/* slider */
:host >>> .ngx-slider {
    display: flex;
    height: 50px;
    margin: unset;
    vertical-align: unset;
    align-items: center;
}

/* bar */
:host >>> .ngx-slider .ngx-slider-bar-wrapper {
    margin-top: unset;
    padding-top: unset;
    height: unset;
}

/* tick */
:host >>> .ngx-slider .ngx-slider-ticks {
    top: unset;
}

/* pointer */
:host >>> .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

/* bubble */
:host >>> .ngx-slider .ngx-slider-bubble {
    display: none;
}

/* tick value */
:host >>> .ngx-slider .ngx-slider-ticks-values-under .ngx-slider-tick-value {
    bottom: unset;
}
:host >>> .ngx-slider .ngx-slider-inner-tooltip {
    font-size: inherit;
    color: inherit;
}
:host >>> .ngx-slider .ngx-slider-tick-value {
    top: unset;
}