<div class="bravo-picture" tabindex="1">
  <div class="bravo-picture-editor">
    <div class="bravo-picture-display">
      <div class="bravo-picture-view">
        <div class="bravo-picture-zoom" [hidden]="!isZoom">
          <ngx-slider [value]="zoomSlider.value" [options]="zoomSlider.options"></ngx-slider>
        </div>
        <div class="bravo-picture-preview"
          [style]="{'width': isZoom || isColor || isBackground ? 'calc(100% - 50px)' : isBrightness ? 'calc(100% - 100px)' : '100%'}">
        </div>
        <div class="bravo-picture-brightness" [hidden]="!isBrightness"></div>
        <div class="bravo-picture-color" [hidden]="!isColor"></div>
        <div class="bravo-picture-background" [hidden]="!isBackground"></div>
      </div>
    </div>
    <div class="bravo-picture-imagesize">100x100</div>
    <div class="bravo-picture-tools">
      <div class="bravo-picture-basic">
        <ul>
          <!-- zoom picture -->
          <li (click)="isZoom = !isZoom; isBrightness = false; isColor = false; isBackground = false"
            [class]="isZoom ? 'active' : ''" class="zoom">
            <img src="./assets/img/Search.png">100%
          </li>
          <div class="bulkhead"></div>
          <!-- add picture -->
          <li>
            <img src="./assets/img/OpenFolder.svg">
          </li>
          <!-- save picture -->
          <li>
            <img src="./assets/img/Save.png">
          </li>
          <!-- printer picture -->
          <li>
            <img src="./assets/img/Printer.png">
          </li>
          <div class="bulkhead"></div>
          <!-- delete picture -->
          <li>
            <img src="./assets/img/Delete.png">
          </li>
          <!-- paste picture -->
          <li>
            <img src="./assets/img/Paste.svg">
          </li>
          <!-- copy picture -->
          <li>
            <img src="./assets/img/Copy.png">
          </li>
          <div class="bulkhead"></div>
        </ul>
      </div>
      <div class="bravo-picture-advanced">
        <button class="bravo-picture-more" [class]="isPopup ? 'active' : ''">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="15" height="15" x="0" y="0" viewBox="0 0 24 24"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg" id="_19" data-name="19">
                <path
                  d="m12 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.41-1.41l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.7.29z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
                <path
                  d="m6 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.42-1.42l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.71.3z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
              </g>
            </g>
          </svg>
        </button>
        <!-- popup -->
        <div class="bravo-picture-editor-popup">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li (click)="isZoom = false; isBrightness = !isBrightness; isColor = false; isBackground = false"
              [class]="isBrightness ? 'active' : ''">7</li>
            <li (click)="isZoom = false; isBrightness = false; isColor = !isColor; isBackground = false"
              [class]="isColor ? 'active' : ''">8</li>
            <li (click)="isZoom = false; isBrightness = false; isColor = false; isBackground = !isBackground"
              [class]="isBackground ? 'active' : ''">9</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
