<div class="bravo-picture" tabindex="1">
  <div class="bravo-picture-editor">
    <div class="bravo-picture-display">
      <div class="bravo-picture-view">
        <div class="bravo-picture-zoom" [hidden]="!isZoom">
          <ngx-slider [value]="zoomSlider.value" [options]="zoomSlider.options"
            (userChange)="onZoomSliderChange($event)">
          </ngx-slider>
        </div>
        <div (dblclick)="upload.click()" class="bravo-picture-preview"
          [style]="{'width': isZoom || isColor || isOpacity ? 'calc(100% - 50px)' : isBrightness ? 'calc(100% - 100px)' : '100%'}">
          <img src="{{ imageURL }}" class="null">
          <input #upload type="file" multiple="true" (change)="onUpload($event)">
        </div>
        <div class="bravo-picture-brightness" [hidden]="!isBrightness">
          <div class="bravo-slider">
            <div class="left">
              <ngx-slider [formControl]="brightnessSliderControl" [value]="brightnessSliderLeft.value"
                [options]="brightnessSliderLeft.options" (userChange)="onBrightnessSliderLeftChange($event)">
              </ngx-slider>
            </div>
            <div class="right">
              <ngx-slider [formControl]="brightnessSliderControl" [value]="brightnessSliderRight.value"
                [options]="brightnessSliderRight.options" (userChange)="onBrightnessSliderRightChange($event)">
              </ngx-slider>
            </div>
          </div>
          <div class="bravo-confirm">
            <button (click)="applyFilter()" [disabled]="!isBrightnessConFirm">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" width="10" height="10" x="0" y="0" viewBox="0 0 2.54 2.54"
                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <g xmlns="http://www.w3.org/2000/svg" id="图层_x0020_1">
                    <circle cx="1.27" cy="1.27" fill="#00ba00" r="1.27" data-original="#00ba00" class=""></circle>
                    <path
                      d="m.87344 1.88938-.46448-.49713c-.06359-.06806-.05994-.17574.00812-.23933.06806-.06359.17574-.05993.23933.00812l.35828.38346.56711-.52987c.0051-.00477.01043-.00914.01594-.01316l.26669-.24917c.06806-.06359.17575-.05993.23933.00813.06359.06805.05993.17574-.00812.23933l-.81454.76105-.00087-.00093-.28176.26326-.12503-.13382z"
                      fill="#ffffff" data-original="#ffffff" class=""></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="bravo-picture-color" [hidden]="!isColor">
          <div class="bravo-slider">
            <ngx-slider [formControl]="colorSliderControl" [value]="colorSlider.value" [options]="colorSlider.options"
              (userChange)="onColorSliderChange($event)">
            </ngx-slider>
          </div>
          <div class="bravo-confirm">
            <button (click)="applyFilter()" [disabled]="!isColorConfirm">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" width="10" height="10" x="0" y="0" viewBox="0 0 2.54 2.54"
                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <g xmlns="http://www.w3.org/2000/svg" id="图层_x0020_1">
                    <circle cx="1.27" cy="1.27" fill="#00ba00" r="1.27" data-original="#00ba00" class=""></circle>
                    <path
                      d="m.87344 1.88938-.46448-.49713c-.06359-.06806-.05994-.17574.00812-.23933.06806-.06359.17574-.05993.23933.00812l.35828.38346.56711-.52987c.0051-.00477.01043-.00914.01594-.01316l.26669-.24917c.06806-.06359.17575-.05993.23933.00813.06359.06805.05993.17574-.00812.23933l-.81454.76105-.00087-.00093-.28176.26326-.12503-.13382z"
                      fill="#ffffff" data-original="#ffffff" class=""></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="bravo-picture-opacity" [hidden]="!isOpacity">
          <div class="bravo-slider">
            <ngx-slider [formControl]="opacitySliderControl" [value]="opacitySlider.value"
              [options]="opacitySlider.options" (userChange)="onOpacitySliderChange($event)"></ngx-slider>
          </div>
          <div class="bravo-confirm">
            <button (click)="applyFilter()" [disabled]="!isOpacityConFirm">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" width="10" height="10" x="0" y="0" viewBox="0 0 2.54 2.54"
                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <g xmlns="http://www.w3.org/2000/svg" id="图层_x0020_1">
                    <circle cx="1.27" cy="1.27" fill="#00ba00" r="1.27" data-original="#00ba00" class=""></circle>
                    <path
                      d="m.87344 1.88938-.46448-.49713c-.06359-.06806-.05994-.17574.00812-.23933.06806-.06359.17574-.05993.23933.00812l.35828.38346.56711-.52987c.0051-.00477.01043-.00914.01594-.01316l.26669-.24917c.06806-.06359.17575-.05993.23933.00813.06359.06805.05993.17574-.00812.23933l-.81454.76105-.00087-.00093-.28176.26326-.12503-.13382z"
                      fill="#ffffff" data-original="#ffffff" class=""></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bravo-picture-imagesize">{{ renderedSize }}{{  imageInfo }}</div>
    <div class="bravo-picture-tools">
      <div class="bravo-picture-basic">
        <ul>
          <!-- zoom picture -->
          <li (click)="isZoom = !isZoom; isBrightness = false; isColor = false; isOpacity = false; invalidate();"
            [class]="isZoom ? 'active' : ''" class="zoom">
            <img src="./assets/img/Search.png">{{ zoomSlider.value ? zoomSlider.value : '100' }}%
          </li>
          <div class="bulkhead"></div>
          <!-- add picture -->
          <li (click)="upload.click()">
            <img src="./assets/img/OpenFolder.svg">
          </li>
          <!-- save picture -->
          <li (click)="onSaveImage()">
            <img src="./assets/img/Save.png">
          </li>
          <!-- printing picture -->
          <li (click)="onPrinting()">
            <img src="./assets/img/Printer.png">
          </li>
          <div class="bulkhead"></div>
          <!-- delete picture -->
          <li (click)="onRemove()">
            <img src="./assets/img/Delete.png">
          </li>
          <!-- paste picture -->
          <li (click)="onPaste()">
            <img src="./assets/img/Paste.svg">
          </li>
          <!-- copy picture -->
          <li (click)="onCopy()">
            <img src="./assets/img/Copy.png">
          </li>
          <div class="bulkhead"></div>
        </ul>
      </div>
      <div class="bravo-picture-advanced">
        <bravo-toolbar #toolbar></bravo-toolbar>
        <!-- <button class="bravo-picture-more" [class]="isPopup ? 'active' : ''">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="15" height="15" x="0" y="0" viewBox="0 0 24 24"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg" id="_19" data-name="19">
                <path
                  d="m12 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.41-1.41l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.7.29z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
                <path
                  d="m6 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.42-1.42l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.71.3z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
              </g>
            </g>
          </svg>
        </button> -->
        <!-- popup -->
        <div class="bravo-picture-editor-popup">
          <ul>
            <li (click)="onRotateLeft()">1</li>
            <li (click)="onRotateRight()">2</li>
            <li (click)="onFlipVertical()">3</li>
            <li (click)="onFlipHorizontal()">4</li>
            <li>5</li>
            <li>6</li>
            <li
              (click)="isZoom = false; isBrightness = !isBrightness; isColor = false; isOpacity = false; invalidate();"
              [class]="isBrightness ? 'active' : ''">7</li>
            <li (click)="isZoom = false; isBrightness = false; isColor = !isColor; isOpacity = false; invalidate();"
              [class]="isColor ? 'active' : ''">8</li>
            <li (click)="isZoom = false; isBrightness = false; isColor = false; isOpacity = !isOpacity; invalidate();"
              [class]="isOpacity ? 'active' : ''">9</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
