<div class="bravo-picture" tabindex="1">
  <div class="bravo-picture-editor">
    <div class="bravo-picture-editor-display">
      <div class="bravo-picture-editor-display-slider" [hidden]="false"></div>
      <div class="bravo-picture-editor-display-preview"></div>
    </div>
    <div class="bravo-picture-editor-imagesize">100x100</div>
    <div class="bravo-picture-editor-tools">
      <div class="bravo-picture-editor-tools-basic">
        <ul>
          <!-- zoom picture -->
          <li class="bravo-picture-editor-tools-zoom">
            <img src="./assets/img/Search.png">100%
          </li>
          <div class="bravo-picture-editor-tools-bulkhead"></div>
          <!-- add picture -->
          <li>
            <img src="./assets/img/OpenFolder.svg">
          </li>
          <!-- save picture -->
          <li>
            <img src="./assets/img/Save.png">
          </li>
          <!-- printer picture -->
          <li>
            <img src="./assets/img/Printer.png">
          </li>
          <div class="bravo-picture-editor-tools-bulkhead"></div>
          <!-- delete picture -->
          <li>
            <img src="./assets/img/Delete.png">
          </li>
          <!-- paste picture -->
          <li>
            <img src="./assets/img/Paste.svg">
          </li>
          <!-- copy picture -->
          <li>
            <img src="./assets/img/Copy.png">
          </li>
          <div class="bravo-picture-editor-tools-bulkhead"></div>
        </ul>
      </div>
      <div class="bravo-picture-editor-tools-advanced">
        <button class="bravo-picture-editor-tools-advanced-popup">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="15" height="15" x="0" y="0" viewBox="0 0 24 24"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg" id="_19" data-name="19">
                <path
                  d="m12 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.41-1.41l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.7.29z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
                <path
                  d="m6 19a1 1 0 0 1 -.71-1.71l5.3-5.29-5.3-5.29a1 1 0 0 1 1.42-1.42l6 6a1 1 0 0 1 0 1.41l-6 6a1 1 0 0 1 -.71.3z"
                  fill="#7b7cab" data-original="#000000" class=""></path>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
