/* slider */
:host>>>.ngx-slider {
    vertical-align: unset;
    position: relative;
    margin: 2px;
    width: calc(100% - 4px);
    top: 0px;
}

/* bar */
:host>>>.ngx-slider .ngx-slider-bar-wrapper {
    margin-top: unset;
    padding-top: unset;
    height: unset;
}

/* tick */
:host>>>.ngx-slider .ngx-slider-ticks {
    top: unset;
    position: relative;
}

:host>>>.ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 6px;
}

/* pointer */
:host>>>.ngx-slider .ngx-slider-pointer {
    width: 10px;
    height: 10px;
    background-color: #1E90FF;
    border: 2px solid #fff;
    border-radius: 100%;
}

:host>>>.ngx-slider .ngx-slider-pointer:after {
    display: none;
}

/* bubble */
:host>>>.ngx-slider .ngx-slider-bubble {
    display: none;
}

/* tick value */
:host>>>.ngx-slider .ngx-slider-ticks-values-under .ngx-slider-tick-value {
    bottom: unset;
}

:host>>>.ngx-slider .ngx-slider-inner-tooltip {
    font-size: inherit;
    color: inherit;
    height: unset;
    position: relative;
}

:host>>>.ngx-slider .ngx-slider-tick-value {
    top: unset;
}