.container {
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 4px;
    /* height: calc(100vh - 40px); */
    /* width: calc(100vw - 40px); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .content {
        padding: 20px;
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .data {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .container{
        .content {
            width: calc(100% - 80px);
        }
    }
}