button {
    cursor: pointer;
    background-color: unset;
    border: none;
    border-radius: unset;
    color: unset;
    font-size: unset;
    padding: unset;
    margin: unset;
    width: unset;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host>>>.wj-listbox {
    display: flex;
    flex-wrap: wrap;
    overflow: unset;
    cursor: pointer;
}

:host>>>.wj-listbox .wj-listbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5px;
    border: 1px solid transparent;
}

:host>>>.wj-listbox .wj-listbox-item:not(.wj-state-disabled):hover {
    background-color: #e0eef9 !important;
    border: 1px solid #568fba !important;
    border-radius: 2px !important;
}

:host>>>.wj-state-selected {
    background: unset !important;
    color: unset !important;
}

:host>>>.wj-content {
    border: unset;
    border-radius: unset;
    overflow: unset;
}

:host>>>.wj-control {
    background: unset;
}

:host>>>.bulkhead {
    margin: 2px;
    border-right: 1px solid #bbbbbb;
}