.bravo-picture-input-box {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 120px;
    border: 1px solid #bbbbbb;

    &:focus-within {
        border: 1px solid #FCC479;
    }

    .bravo-picture-preview {
        width: 180px;

        &:focus-within {
            border: 1px dotted #bbbbbb;
        }
    }

    .bravo-picture-selection {
        width: calc(100% - 180px);

        button {
            cursor: pointer;
            background-color: unset;
            border: none;
            border-radius: unset;
            color: unset;
            font-size: unset;
            padding: unset;
            margin: unset;
            width: unset;
            height: unset;

            &.bravo-picture-dropdown {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #bbbbbb;
                padding: 2px;

                &:hover {
                    border: 1px solid #568FBA;
                    background-color: #E0EEF9;
                }

                svg {
                    opacity: 0.5;
                }
            }
        }
    }
}