.bravo-picture-input-box {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 120px;
    border: 1px solid #bbbbbb;

    &:focus-within {
        border: 1px solid #FCC479;
    }

    .bravo-picture-preview {
        display: flex;
        align-items: center;
        width: 180px;

        &:focus-within {
            border: 1px dotted #bbbbbb;
        }

        img {
            width: 100%;
        }
    }

    .bravo-picture-selection {
        width: calc(100% - 180px);

        button {
            cursor: pointer;
            background-color: unset;
            border: none;
            border-radius: unset;
            color: unset;
            font-size: unset;
            padding: unset;
            margin: unset;
            width: unset;
            height: unset;

            &.bravo-picture-dropdown {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #bbbbbb;
                padding: 2px;

                &:hover {
                    border: 1px solid #568FBA;
                    background-color: #E0EEF9;
                }

                svg {
                    opacity: 0.5;
                }
            }
        }


    }
}

// popup
.bravo-picture-popup {
    .bravo-picture-popup-display {
        display: flex;
        flex-direction: column;
        padding: 3px;
        width: 100%;
        height: 100%;

        .bravo-picture-popup-preview {
            cursor: all-scroll;
            width: 100%;
            height: calc(100% - 46px);
            overflow: auto;

            img {
                width: 100%;
            }
        }

        .bravo-picture-popup-imagesize {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20px;
        }

        .bravo-picture-popup-tools {
            display: flex;
            align-items: center;
            width: 100%;
            height: 26px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;

                    label {
                        cursor: pointer;
                    }

                    input[type=file] {
                        display: none;
                    }

                    &:hover {
                        border: 1px solid #568FBA;
                        background-color: #E0EEF9;
                    }

                    &.zoom-in {
                        cursor: zoom-in;
                    }

                    &.zoom-out {
                        cursor: zoom-out;
                    }

                    &.zoom-value {
                        cursor: no-drop;
                        margin: 0 5px 0 5px;

                        &:hover {
                            border: unset;
                            background-color: unset;
                        }
                    }
                }
            }
        }
    }
}