.parent {
  div {
    &.checkbox {
      display: flex;
      white-space: nowrap;
      overflow: auto;
      color: inherit;
      &:hover {
        color: #006c64
      }
      &.active-checkbox {
        color: #006c64;
        &:hover {
          color: #005851;
        }
      }
      input {
        cursor: pointer;
      }
      label {
        cursor: pointer;
        margin: 0 4px 0 4px;
      }
    }
  }
}

.children {
  white-space: nowrap;
  overflow: auto;
  ul {
    list-style: none;
    &.checkbox {
      display: flex;
      padding-inline-start: 18px;
      li {
        display: flex;
        &.checkbox-list {
          color: inherit;
          &:hover {
            color: #149189
          }
          &.active-checkbox {
            color: #149189;
            &:hover {
              color: hsl(176, 97%, 26%);
            }
          }
          input {
            cursor: pointer;
          }
          label {
            cursor: pointer;
            margin: 0 4px 0 4px;
          }
        }
      }
    }
    &.button {
      display: inline-flex;
      padding-inline-start: 0px;
      margin-left: -3px;
      li {
        display: flex;
        &.button-list {
          color: inherit;
          background-color: #ddd;
          margin: 3px;
          padding: 3px;
          border-radius: 3px;
          text-align: center;
          &:hover {
            color: #eee;
            background-color: #149189;
          }
          &.active-button {
            color: #eee;
            background-color: #149189;
            &:hover {
              background-color: hsl(176, 97%, 26%)
            }
          }
          input[type="checkbox"] {
            display: none;
          }
          label {
            cursor: pointer;
          }
        }
      }
    }
  }
}