<div class="parent" [hidden]="eAppearanceStyle == AppearanceStyleEnum.Button">
    <div [class]="{'checkbox': eAppearanceStyle != AppearanceStyleEnum.Button, 'active-checkbox': viewParent.checked }">
        <input #parent class="form-check-input" type="checkbox" id="{{ zParentText }}" (change)="onParent($event)"
            [disabled]="!bAllowSelectMultiValue" [checked]="viewParent.checked">
        <label class="form-check-label" for="{{ zParentText }}">
            {{ zParentText }}
        </label>
    </div>
</div>
<div class="children">
    <ul #children [class]="eAppearanceStyle == AppearanceStyleEnum.Button ? 'button' : 'checkbox'">
        <li *ngFor="let item of controls; let i = index" [class]="{
                'button-list': eAppearanceStyle == AppearanceStyleEnum.Button,
                'checkbox-list': eAppearanceStyle != AppearanceStyleEnum.Button,
                'active-button': eAppearanceStyle == AppearanceStyleEnum.Button && item.checked,
                'active-checkbox': eAppearanceStyle != AppearanceStyleEnum.Button && item.checked
            }">
            <input class="form-check-input" type="checkbox" id="{{ item.value }}" value="{{ item.value }}"
                name="{{ item.name }}" (change)="onChildren($event)" [checked]="item.checked"
                [(ngModel)]="item.checked">
            <label class="form-check-label" for="{{ item.value }}">
                {{ item.text }}
            </label>
        </li>
    </ul>
</div>