<div class="parent">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="parent-input"
            [disabled]="bSelectOnlyOne ? bSelectOnlyOne : false">
        <label class="form-check-label">
            {{ zParentText }}
        </label>
    </div>
</div>
<div class="children">
    <div class="form-check" *ngFor="let item of dataList">
        <input class="form-check-input" type="checkbox" value="{{ item.value }}" name="{{ item.name }}"
            (change)="onSelectOption($event)">
        <label class="form-check-label">
            {{ item.text }}
        </label>
    </div>
</div>