.parent {
  .checkbox {
    color: inherit;
    &:hover {
        color: blue
      }
    &.active-checkbox {
      color: blue
    }
  }
}

.children {
  ul {
    list-style: none !important;
  }
  .checkbox {
    padding-inline-start: 17px !important;
    .checkbox-list {
      color: inherit;
      &:hover {
        color: blue
      }
      &.active-checkbox {
        color: blue
      }
    }
  }
  .button {
    padding-inline-start: 0px !important;
    input[type="checkbox"] {
      display: none !important;
    }
    .button-list {
      color: inherit;
      background-color: #ddd;
      margin: 3px;
      padding: 3px;
      &:hover {
        color: #eee;
        background-color: #165ea1;
      }
      &.active-button {
        color: #eee;
        background-color: #165ea1
      }
    }
  }
}