<!-- slider -->
<!-- <div class="slider">
    <form [formGroup]="formSlider">
        <bravo-slider formControlName="dataSlider" [options]="optionsSlider">
        </bravo-slider>
    </form>
</div>
<br> -->

<!-- chart -->
<!-- <div class="chart">
    <bravo-chart></bravo-chart>
</div>
<br> -->

<!-- range time -->
<div class="range-time">
    <bravo-range-time [dataBox]="['Tháng', 'Quý', 'Năm', 'Tùy chỉnh']"
        [listMonth]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [listQuarter]="['I', 'II', 'III', 'IV']"
        [listYear]="[2019, 2020, 2021, 2022, 2023, 2024, 2025]" (timeEvent)="timeEvent($event.minTime, $event.maxTime)">
    </bravo-range-time>
</div>
<br>

<!-- check list -->
<!-- <div class="check-list">

    <bravo-checklist #trading [zParentText]="'Loại giao dịch'" [dataList]="tradingData">
    </bravo-checklist>

    <bravo-checklist #rating [zParentText]="'Loại đánh giá'" [dataList]="ratingData" [bSelectOnlyOne]="true">
    </bravo-checklist>

    <bravo-checklist #timing [zParentText]="'Thời gian'" [dataList]="timingData">
    </bravo-checklist>

</div>
<br> -->