<!-- slider -->
<!-- <div class="slider">
    <form [formGroup]="formSlider">
        <bravo-slider formControlName="dataSlider" [options]="optionsSlider">
        </bravo-slider>
    </form>
</div>
<br> -->

<!-- chart -->
<!-- <div class="chart">
    <bravo-chart></bravo-chart>
</div>
<br> -->

<!-- range time -->
<!-- <div class="range-time">
    <bravo-range-time (timeEvent)="timeEvent($event.minTime, $event.maxTime)">
    </bravo-range-time>
</div>
<br> -->

<!-- check list -->
<div class="check-list">

    <bravo-checklist #trading [zParentText]="'Loại giao dịch'" [dataList]="tradingData" [bAllowSelectMultiValue]="false"
        [eFlowDirection]="FlowDirection.TopDown">
    </bravo-checklist>

    <bravo-checklist #rating [zParentText]="'Loại đánh giá'" [dataList]="ratingData"
        [eFlowDirection]="FlowDirection.TopDown">
    </bravo-checklist>

    <bravo-checklist #timing [zParentText]="'Thời gian'" [dataList]="timingData"
        [eAppearanceStyle]="AppearanceStyleEnum.Button" [bAllowSelectMultiValue]="true"
        [eFlowDirection]="FlowDirection.LeftToRight">
    </bravo-checklist>

</div>
<br>