.range-time {
    color: inherit;
}

.check-list {
    .trading {
        background-color: #fff;
    }
    .rating {
        background-color: #fff;
        width: 475.2529296875px;
        height: 35.0476px;
    }
    .timing {
        background-color: #fff;
    }
}