.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slider-base {
        margin: 20px 0 20px 0;
    }

    .range-slider {
        margin: 20px 0 20px 0;
        border: 1px solid #ccc;
        height: 30px;
        border-radius: 3px;
    }

    .chart {
        margin: 20px 0 20px 0;
    }

    .range-time {
        margin: 20px 0 20px 0;
    }

    .checklist {
        margin: 20px 0 20px 0;

        .trading {
            margin: 10px 0 10px 0;
            border: 1px solid #ccc !important;
            border-radius: 3px;
            width: 164.81689453125px;
            height: 52.571400000000004px;
        }

        .rating {
            margin: 10px 0 10px 0;
            border: 1px solid #ccc !important;
            border-radius: 3px;
            width: 191.6630859375px;
            height: 51.999900000000004px;
        }

        .timing {
            margin: 10px 0 10px 0;
            border: 1px solid #ccc !important;
            border-radius: 3px;
            width: 209.29345703125px;
            height: 29.5238px;
        }
    }

    .barcodebox {
        margin: 20px 0 20px 0;

        #code49,
        #ean8,
        #ean13,
        #japanesepostal,
        #upca,
        #upce0,
        #upce1 {
            width: 50%;
        }
    }
}