.range-time {
    color: inherit;
}

.check-list {
    .trading {
        background-color: #fff;
        border-radius: 3px;
        width: 164.81689453125px;
        height: 52.571400000000004px;
    }
    .rating {
        background-color: #fff;
        border-radius: 3px;
        width: 209.6630859375px;
        height: 70.0952px;
    }
    .timing {
        background-color: #fff;
        border-radius: 3px;
    }
}