<div class="main">

    <!--------------------------------------->
    <!-- slider -->
    <h2>Bravo Slider</h2>
    <div class="slider">
        <form [formGroup]="formSlider">
            <bravo-slider #slider formControlName="dataSlider">
            </bravo-slider>
        </form>
    </div>
    <h3>Code</h3>
    <pre><code [lineNumbers]="true" [highlight]="codeSlider"></code></pre>
    <!--------------------------------------->

    <!--------------------------------------->
    <!-- chart -->
    <h2>Bravo Chart</h2>
    <div class="chart">
        <bravo-chart></bravo-chart>
    </div>
    <h3>Code</h3>
    <pre><code [lineNumbers]="true" [highlight]="codePieChart"></code></pre>
    <!--------------------------------------->

    <!--------------------------------------->
    <!-- range time -->
    <h2>Bravo Range Time</h2>
    <div class="range-time">
        <bravo-range-time (timeEvent)="timeEvent($event.minTime, $event.maxTime)">
        </bravo-range-time>
    </div>
    <h3>Code</h3>
    <pre><code [lineNumbers]="true" [highlight]="codeRangeTime"></code></pre>
    <!--------------------------------------->

    <!--------------------------------------->
    <!-- check list -->
    <h2>Bravo Checklist</h2>
    <div class="checklist">
        <div class="trading">
            <form [formGroup]="formTrading">
                <bravo-checklist #trading formControlName="dataActive" [zParentText]="'Loại giao dịch'"
                    [dataList]="tradingData" [bAllowSelectMultiValue]="false" [eFlowDirection]="FlowDirection.TopDown"
                    [zSeparator]="','">
                </bravo-checklist>
            </form>
        </div>
        <div class="rating">
            <form [formGroup]="formRating">
                <bravo-checklist #rating formControlName="dataActive" [zParentText]="'Loại đánh giá'"
                    [dataList]="ratingData" [bAllowSelectMultiValue]="true" [eFlowDirection]="FlowDirection.TopDown"
                    [zSeparator]="','">
                </bravo-checklist>
            </form>
        </div>
        <div class="timing">
            <form [formGroup]="formTiming">
                <bravo-checklist #timing formControlName="dataActive" [zParentText]="'Thời gian'"
                    [dataList]="timingData" [eAppearanceStyle]="AppearanceStyleEnum.Button"
                    [bAllowSelectMultiValue]="true" [eFlowDirection]="FlowDirection.LeftToRight" [zSeparator]="';'">
                </bravo-checklist>
            </form>
        </div>
    </div>
    <h3>Code</h3>
    <pre><code [lineNumbers]="true" [highlight]="codeChecklist"></code></pre>
    <!--------------------------------------->

</div>