/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

/* selected listbox */
.wj-listbox-item .selected div::before {
    content: "\2713";
    margin-left: -20px;
    margin-right: 3px;
}

/* popup listbox */
.wj-dropdown-panel {
    background: rgb(255, 255, 255) !important;
    color: inherit !important;
}