/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

/* range time combo box  */
.wj-state-selected {
    background: unset !important;
    color: unset !important;
}

.range-time-drop-down {
    padding-left: 25px;
    color: inherit !important;
    background: #eee !important;
    min-width: auto !important
}

.range-time-checked::before {
    content: "\2713";
    margin-left: -20px;
    margin-right: 9px;
}