/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    font-size: 13px;
}

body {
    color: #000;
}

a {
    text-decoration: none;
}

/* range time combo box  */
.wj-state-selected {
    background: unset !important;
    color: unset !important;
}

.range-time-drop-down {
    padding-left: 25px;
    color: inherit !important;
    background: #eee !important;
    min-width: auto !important
}

.range-time-checked::before {
    content: "\2713";
    margin-left: -20px;
    margin-right: 9px;
}