@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.content .selected {
    white-space: nowrap;
    overflow: auto;
}

.content .selected ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.content .selected ul li {
    padding: 4px 10px 4px 10px;
}

.content .selected ul li:hover {
    background-color: #fff;
    border-radius: 4px;
}

.content .wj-content {
    border: unset !important;
    background: unset !important;
    color: inherit !important
}

.content .wj-input-group-btn {
    border-left: unset !important;
}


:host >>> .wj-input-group-btn:last-child:not(:first-child)>.wj-btn {
    border-left: unset !important;
}

:host >>> .wj-control .wj-input-group-btn>.wj-btn.wj-btn-default:hover {
    background: unset !important;
}

:host >>> .wj-glyph-down {
    border-top: unset !important;
    border-right: unset !important;
    border-left: unset !important;
}

:host >>> .wj-btn-default {
    color: inherit !important;
}

:host >>> .wj-glyph-down::before {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 20px;
    color: inherit;
}
