<div class="content">
    <div class="select">
        <wj-combo-box #box [itemsSource]="['Tháng', 'Quý', 'Năm', 'Tùy chỉnh']">
        </wj-combo-box>
    </div>
    <div class="selected">
        <div class="month" *ngIf="box.selectedIndex == periodType.Month">
            <ul (click)="onClickMonth($event)">
                <li *ngFor="let month of listMonth" [value]="month">{{ month }}
                </li>
            </ul>
        </div>
        <div class="quarter" *ngIf="box.selectedIndex == periodType.Quarter">
            <ul (click)="onClickQuarter($event)">
                <li>I</li>
                <li>II</li>
                <li>III</li>
                <li>IV</li>
            </ul>
        </div>
        <div class="year" *ngIf="box.selectedIndex == periodType.Year">
            <ul (click)="onClickYear($event)">
                <li *ngFor="let year of listYear" [value]="year">{{ year }}</li>
            </ul>
        </div>
    </div>
</div>