.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.content .selected {
    white-space: nowrap;
    overflow: auto;
}

.content .selected ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.content .selected ul li {
    padding: 4px 8px;
    font-size: inherit;
}

.content .selected ul li:hover {
    background-color: #fff;
    border-radius: 4px;
}

:host>>>.wj-content {
    border: unset !important;
    background: unset !important;
    color: inherit !important;
}

:host>>>.wj-btn {
    border-left: unset !important;
    padding: unset !important;
    min-width: unset !important
}

:host>>>.wj-input-group-btn {
    width: 20px !important;
    min-width: unset !important;
}

:host>>>.wj-btn-default {
    color: inherit !important;
}

:host>>>.wj-form-control {
    font-size: inherit !important;
}

:host>>>.wj-btn-default:hover {
    background: unset !important;
}

:host>>>.wj-glyph-down {
    border-top: unset !important;
    border-right: unset !important;
    border-left: unset !important;
}

:host>>>.wj-glyph-down::before {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 13px;
    color: inherit;
}

.range-time-selected {
    background-color: #149189;
    border-radius: 3px;
    color: #eee;
}

:host>>>input,
li {
    cursor: pointer !important;
    caret-color: transparent !important;
}